@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.contacts {
    padding: 20px;
    font-size: 20px;
}

footer {
    font-family: 'Quicksand', sans-serif;
    background-color:#aea790;
    padding: 30px;
    color: aliceblue;
    text-align: center;
    font-size: 15px;

}

.fa-instagram {
    //background: #833AB4;
    font-size: 40px;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    &:hover {
        color: #833AB4;
        transition: 1s;
        

    }
}


