@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.head {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  width: 95%;
  top: 10px;
  background-color: aliceblue;
  z-index: 1;
  border-radius: 5px 5px;
}

.head .name {
  color: #aea790;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-weight: bold;
  font-size: 25px;
  text-decoration: overline;
}

.head .button {
  text-decoration: none;
  color: #aea790;
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.head .button:hover {
  text-decoration: underline;
  color: #aea790;
  text-shadow: 0.5px 0.5px 1px #aea790;
}
