@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.history_header {
  padding: 50px;
  text-align: center;
  color: #aea790;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  margin-top: 20%;
}

@media (min-width: 768px) {
  .history_header {
    margin-top: 150px;
  }
}

.history_container {
  font-family: "Quicksand", sans-serif;
  background-color: #acaaa342;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 1170px) {
  .history_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

.history_container .utulna_image {
  height: 370px;
  padding: 15px;
}

.history_container .chata_image {
  height: 370px;
  padding: 15px;
}

.history_container .history_container_header .history_container_name {
  padding: 15px;
  color: #aea790;
}

.history_container .history_container_header .history_container_text {
  padding: 15px;
  font-size: 18px;
}

.history_left {
  text-align: center;
}

@media (min-width: 1170px) {
  .history_left {
    text-align: initial;
  }
}
