@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.promo {
  .about_home_left {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1300px) {
      display: block;
    }

    .text_home {
      font-family: "Quicksand", sans-serif;
      position: relative;
      width: 300px;
      height: 450px;
      padding: 5px;
      top: 1rem;

      @media (min-width: 1300px) {
        margin: 100px;
        left: 150px;
        top: 140px;
      }

      .about_name {
        color: #aea790;
        text-decoration: overline;
      }

      .about_cottage {
        margin: 5px;
        font-size: 18px;

        @media (min-width: 1300px) {
          padding: 30px;
        }
      }
    }
  }

  .about_home_right {
    .pic_text {
      position: relative;
      font-family: "Quicksand", sans-serif;

      .small_pic {
        position: relative;
        width: 500px;
        max-width: 100%;
        height: 450px;
        border-radius: 5px 5px 5px 5px;

        @media (min-width: 1300px) {
          position: absolute;
          top: -160px;
          left: 60%;
          transform: translate(-50%, -50%);
        }
      }

      .list {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid #aea790;
        border-radius: 5px 5px 5px 5px;
        background-color: aliceblue;
        width: 300px;
        padding: 35px;
        transform: translate(-50%, -50%);

        @media (min-width: 1300px) {
          top: -60px;
          left: 72%;
        }

        .fa-map-marker {
          color: #aea790;
        }

        ul {
          list-style: none;
        }

        li:first-child .name_location {
          display: inline-block;
          line-height: normal;
          padding-bottom: 1rem;
        }

        .name_location {
          color: #aea790;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          padding: 15px;
          line-height: 60px;
        }
        .plain_text {
          font-size: 18px;
        }
      }
    }
  }
  .pictures_home {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    .gallery_left {
      margin: 20px;
      .picture_top {
        width: 500px;
        height: 400px;
      }
    }

    .info_right {
      border: 1px solid black;
      width: 500px;
      height: 400px;
      margin: 20px;
    }
  }
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  margin-bottom: 40px;

  //   display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.gallery {
  margin-top: 40px;
  @media (min-width: 800px) {
    width: 60%;
    margin: 0 auto;
  }
  @media (min-width: 1300px) {
    width: 50%;
    padding-top: 15%;
  }
}

.gallery__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 3rem;
}

.gallery__arrow-l {
  left: 1%;
  display: none;
}

.gallery__arrow-r {
  right: 1%;
}
